#ID|#ORDER|CONDITION|HEADER|REGEX|COMMAND|PARAM1|PARAM2|PARAM3...
1|1|eq|$ru|bloxsbc|remove_hf|P-Hint: CallForBLOX|Call-ID
1|2|ne|$ru|bloxsbc|append_hf|P-Hint: CallForBLOX|Call-ID
1|3|eq|$ru|bloxsbc|insert_hf|P-Hint: CallForBLOX|Call-ID
1|4||||append_time
1|5||||append_urihf|prefix|suffix
#dnl vim: set ts=4 sw=4 tw=0 et :
